.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  //align-items: center;

  gap: 30px;
  margin: 0 auto;
  padding: 30px;
  width: 1400px;
}

.gallery__card {
  background-color: rgb(122, 131, 131);
  padding: 3px;
}

.gallery__image {
  border: 1px solid whitesmoke;
  box-shadow: 1px 1px 5px 2px whitesmoke;
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
}

.gallery__link {
  flex-basis: 22%;
  display: block;
  text-decoration: none;
  height: 100%;
  border-radius: 10px;
  box-shadow: 4px 4px 5px 5px slategray;

  overflow: hidden;
  transition: transform 250ms ease-in-out;

  &:hover {
    cursor: zoom-in;
    transform: scale(1.03);
  }
}

.info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;

  background-color: rgb(84, 83, 81);
}

b {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: aliceblue;
}
